[submodule "Fw/controller"]
	path = Fw/controller
	url = git@github.com:Delsian/nrf52l.git
[submodule "3D"]
	path = 3D
	url = git@github.com:Delsian/r0b1c3D.git
[submodule "Fw/bootloader"]
	path = Fw/bootloader
	url = git@github.com:Delsian/nrf52boot.git
[submodule "Fw/SDK/micro-ecc"]
	path = Fw/SDK/micro-ecc
	url = git@github.com:kmackay/micro-ecc.git
